<!DOCTYPE html> <!-- html을 킴 -->
<html> 
 <!-- 이 html에 대해 정의 초기설정 등등 -->   
  <head>
  
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


  <body>
    <h1> Hiiii </h1>
    <p>Welcome to my homepage</p>
  <div style= "font-size: 50px; color:#ffffff; background-color:#8885A4;">
    고오양이 
  </div>
  <div>
    최고야 
    </div>
    <img src='/images/smiecat.jpg' />
  </body>
</html>

