<!DOCTYPE html> <!-- html을 킴 -->
<html> 
 <!-- 이 html에 대해 정의 초기설정 등등 -->   
  <head>
  
    <title>CAT PARK</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery.3.1.min.js'></script>
  </head>
  <body>

    
    <div>
      <input class="a123" type = 'button' value = "Main Page"/>
      <input id='gotomain' type= 'button'/>
      <input class="login" type = 'button' value = "Login"/>
    </div> 

    <div class="menubar" > 
      <div id = 'button1' class= "contents"style = "left:50px;"> What is cat? </div> 
      <div id= 'button2' class= "contents"style = "left:400px;"> Do you wanna raise a cat? </div> 
      <div class= "contents"style = "left:900px;"> goods SHOP </div> 
     
    </div>


  

  
  <div id="a1" style= "font-size: 50px; color:#ffffff; background-color:rgb(136, 133, 164);">
    고양이다 
  </div>
  <div>
    잘왔다
    </div>
    <img src='/images/smiecat.jpg' />
    
    <input id ='button3'  type="button" value="누르게"/>
  
  
  
  <form id= 'form_1' action='/abc' style = 'display:none;'>
  </form>
  
  <script>
    $(document).ready(function(){
       $('#button3').click(function(){
         alert('고양이 옆 버튼을 눌렀구나 으헤헤');
       });
    });

$(document).on('click','.login',function(){
  //alert('갹갹');
  //$('#form_1').submit();  
  window.location.href='/users/login';
  
});


$(document).on('click','#button1',function(){
  //alert('갹갹');
  //$('#form_1').submit();  
  window.location.href='/abc';
  
});

$(document).on('click','#button2',function(){
  alert('get a job');
});



var a= 1;
$(document).on('click','#a1',function(){
  console.log('쉬익');
if(a==1){
  a=2;
  $('#a1').css('background-color' , 'rgb(140,133,200)');
}
else if(a==2){
a=3;
$('#a1').css('background-color' , 'rgb(136, 133, 164)');   

}  
else if(a==3){
a=1;
$('#a1').css('background-color' , 'rgb(140,133,100)');
}


});

  </script>
  
</body>
</html>

