<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Hiiii </h1>
    <p>Welcome to my homepage</p>
  </body>
</html>
