<!DOCTYPE html> <!-- html을 킴 -->
<html>
<!-- 이 html에 대해 정의 초기설정 등등 -->

<head>

    <title>My page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery.3.1.min.js'></script>
</head>




<body>
<form action="/users/login" method="post">
<div>
<input type="text" placeholder="ID" name="ID"/>

</div>

<div>
<input type="password" placeholder="Password" name="PW"/>
</div>

<div>
    <input type ='submit' value= '로그인시켜줘라'/>
</div>

    </form>


</body>

</html>